@media (min-width: 1700px) {
  .container-fluid {
    max-width: 1700px;
  }
  .container-fluid .container {
    max-width: 1700px;
  }
}
@media (min-width: 768px) {
  .body .topboard_area .form-article .article-mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  .header-mobile {
    display: none;
  }
}
@media (max-width: 768px) {
  .body .banner {
    margin-top: 15px;
  }
  .body .banner-left {
    padding: 0;
  }
  .body .banner-right {
    display: none;
  }
  .body .topboard_area .form-article .article-mobile {
    display: block;
  }
  .body .topboard_area .form-article .article-desktop-responsive {
    display: none;
  }
  .body .answer-doctor {
    margin-top: 40px;
  }
  .body .answer-doctor .mentoring {
    margin-bottom: 20px;
  }
  .body .answer-doctor .mentoring .mentoring-list {
    height: 50vh;
    padding: 10px;
  }
  .body .answer-doctor .mentoring .mentoring-list .mentoring-item {
    margin-top: 20px;
    padding-bottom: 10px;
  }
  .body .answer-doctor .mentoring .mentoring-list .mentoring-item .mentoring-number {
    width: 80px;
    border-radius: 20px;
    height: 30px;
    margin-right: 10px;
  }
  .body .answer-doctor .mentoring .mentoring-list .mentoring-item .mentoring-content a {
    font-size: 16px;
  }
  .body .answer-doctor .mentoring .mentoring-list .mentoring-item .mentoring-content span {
    font-size: 11px;
    padding: 0 8px;
    font-weight: 500;
  }
  .body .answer-doctor .news .news-list {
    height: 50vh;
    overflow-y: auto;
    overflow-x: clip;
    padding: 10px;
  }
  .body .answer-doctor .news .news-list .news-item {
    margin-top: 20px;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
  }
  .body .answer-doctor .news .news-list .news-item .news-img img {
    width: 100%;
  }
  .body .answer-doctor .news .news-list .news-item .news-content h4 {
    font-size: 16px;
  }
  .body .answer-doctor .news .news-list .news-item .news-content .content {
    height: 40px;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 13px;
    margin-bottom: 8px;
  }
  .body .answer-doctor .news .news-list .news-item .news-content .time {
    font-size: 13px;
  }
  .body .answer-doctor .news .news-list .news-item .news-content .time .cate {
    font-size: 13px;
    margin-left: 20px;
  }
  .body .listContainer {
    margin-top: 40px;
  }
  .body .listContainer .containerTitle .mentoring-list {
    padding: 10px;
    margin-top: 20px;
  }
  .body .listContainer .containerTitle .mentoring-list .mentoring-item {
    margin-top: 10px;
    align-items: center;
    padding-bottom: 10px;
  }
  .body .listContainer .containerTitle .mentoring-list .mentoring-item .mentoring-number {
    width: 80px;
    height: 30px;
  }
  .body .listContainer .containerTitle .mentoring-list .mentoring-item .mentoring-content {
    font-size: 14px;
  }
  .body .listContainer .containerTitle .mentoring-list .mentoring-item .mentoring-content span {
    font-size: 11px;
    padding: 0 8px;
    font-weight: 500;
  }
  .body .listContainer .bestMentoringWrap {
    padding: 10px;
    margin-bottom: 20px;
  }
  .body .listContainer .bestMentoringWrap .bestMentoringTitle {
    padding-bottom: 10px;
  }
  .body .listContainer .bestMentoringWrap .bestMentoringContent {
    padding-top: 10px;
  }
  .body .listContainer .bestMentoringWrap .bestMentoringContent a {
    font-size: 14px;
    line-height: 28px;
  }
  .footer {
    display: none !important;
  }
  .bottom_copyarea {
    font-size: 12px;
    padding: 20px 10px;
    display: block;
  }
}
@media (max-width: 992px) {
  .swiper-button-next {
    margin-right: -10px;
    border: 1px solid black;
    --swiper-navigation-size: 13px;
    color: #0cbff1;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
  }
  .swiper-button-prev {
    margin-left: -10px;
    border: 1px solid black;
    --swiper-navigation-size: 13px;
    color: #0cbff1;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
  }
  .header-desktop {
    display: none;
  }
  .body .banner {
    margin-top: 15px;
  }
  .body .banner-left {
    padding: 0;
  }
  .body .searcharea {
    display: none;
  }
  .body .topboard_area {
    margin-top: 20px;
  }
  .body .topboard_area .form-article .nav-tabs .nav-link {
    margin: 0 3px;
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
  }
  .body .topboard_area .form-article .nav-tabs .nav-link.active {
    border-bottom: 3px solid #0cbff1;
    color: black;
    font-weight: 700;
  }
  .body .topboard_area .form-article .article .article-mobile .article_1_left {
    border-right: 1px solid #ccc;
  }
  .body .topboard_area .form-article .article .article-mobile .article_1_left .left--header {
    font-size: 17px;
  }
  .body .topboard_area .form-article .article .article-mobile .article_1_left .left--header i {
    color: #0cbff1;
  }
  .body .topboard_area .form-article .article .article-mobile .article_1_right .right-header {
    color: #f77;
    font-size: 17px;
  }
  .body .topboard_area .form-article .article .article-mobile .article--body .item a {
    font-size: 14px;
    color: #505050;
  }
  .body .topboard_area .form-article .article .article-mobile .article--body .item a:hover {
    color: #09f;
  }
  .body .topboard_area .aside img {
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
  }
  .body .topboard_area .form-article .article {
    padding-top: 20px;
    margin-bottom: 15px;
    height: 30vh;
    overflow-y: auto;
  }
  .body .topboard_area .form-article .article .article_1_left .left--header {
    font-size: 18px;
  }
  .body .topboard_area .form-article .article .article_1_right {
    padding-left: 10px;
  }
  .body .topboard_area .form-article .article .article_1_right .right-header {
    font-size: 18px;
  }
  .body .topboard_area .form-article .article .article-header {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
  }
  .body .topboard_area .form-article .article .article--body .item {
    margin: 10px 0;
  }
  .body .topboard_area .form-article .article .article--body .item .icon {
    margin-right: 10px;
    position: relative;
  }
  .body .topboard_area .form-article .article .article--body .item .icon .number-icon {
    left: 30%;
    font-size: 15px;
  }
  .body .topboard_area .form-article .article .article--body .item .number {
    font-size: 14px;
    margin-right: 15px;
    padding: 1px 10px;
  }
  .body .topboard_area .form-article .article .article--body .item a {
    font-size: 14px;
  }
  .body .topboard_area .form-article .article .article--body .item i {
    font-size: 20px;
    margin-right: 10px;
  }
  .body .topboard_area .form-article .article .list-doctor {
    padding-bottom: 5px;
    margin-bottom: 20px;
  }
  .body .topboard_area .form-article .article .list-doctor .doctor-name {
    font-size: 12px;
  }
  .body .topboard_area .form-article .article .list-doctor .content-doctor {
    padding-left: 15px;
  }
  .body .topboard_area .form-article .article .list-doctor .content-doctor .name a {
    margin-bottom: 5px;
    font-size: 14px;
  }
  .body .topboard_area .form-article .article .list-doctor .content-doctor .address {
    display: none;
  }
  .body .topboard_area .form-article .article .list-doctor .content-doctor .work {
    display: none;
  }
  .body .topboard_area .form-article .article .list-doctor .content-doctor .chat {
    display: none;
  }
  .body .topboard_area .form-article .article .list-doctor .content-doctor .time {
    font-size: 13px;
  }
  .body .topboard_area .form-article .article .list-doctor .content-doctor .time b {
    margin-left: 5px;
  }
  .body .topboard_area .form-article .article .list-doctor .desc {
    display: none;
  }
  .body .topboard_area .form-article .article .list-medicine {
    text-align: center;
  }
  .body .topboard_area .form-article .article .list-medicine .item-medicine {
    border-radius: 10px;
    margin: 10px 0;
  }
  .body .products .section .section-left {
    display: none;
  }
  .body .products .section .section-right {
    display: none;
  }
  .body .address-tdoctor {
    padding: 18px;
  }
}/*# sourceMappingURL=responsive.css.map */