
$main-color: #0cbff1;
@media (min-width: 1700px) {
    .container-fluid{
        max-width: 1700px;
    .container{
        max-width: 1700px;
    }
}
}
@media (min-width: 768px){
    .body{
        .topboard_area{
            .form-article{
                .article{
                    &-mobile{
                        display: none;
                    }
                }
            }
        }
    }
}
@media (min-width: 992px){
        .header-mobile{
            display: none;
        }
    }
@media (max-width: 768px){
    .body{
        .banner{
            margin-top: 15px;
            &-left{
                padding: 0;
            }
            &-right{
                display: none;
                }
            }
        .topboard_area{
            .form-article{
                .article{
                    &-mobile{
                        display: block;
                    }
                    &-desktop-responsive{
                        display: none;
                    }
                }
            }
        }
        .answer-doctor{
          margin-top: 40px;
          .mentoring{
            margin-bottom: 20px;
            .mentoring-list{  
              height: 50vh;
              padding: 10px;
              .mentoring-item{
                margin-top: 20px;
                padding-bottom: 10px;
                  .mentoring-number{
                    width: 80px;
                    border-radius: 20px;
                    height: 30px;
                    margin-right: 10px;
                  }
                  .mentoring-content{
                    a{
                        font-size: 16px;
                    }
                    span{
                      font-size: 11px;
                      padding: 0 8px;
                      font-weight: 500;
                    }
                  }
              }
            }
          }
          .news{
            .news-list{
              height: 50vh  ;
              overflow-y: auto;
              overflow-x: clip;
              padding: 10px;
              .news-item{
                margin-top: 20px;
                align-items: center;
                border-bottom: 1px solid #eee;
                padding-bottom: 10px;
                  .news-img{
                    img{
                      width: 100%;
                    }
                  }
                  .news-content{ 
                    h4{
                      font-size: 16px;
                    }
                    .content{
                        height: 40px;
                        -webkit-line-clamp: 2;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        font-size: 13px;
                        margin-bottom: 8px;
                    }
                    .time{
                        font-size: 13px;
                      .cate{
                        font-size: 13px;
                        margin-left: 20px;
                      }
                    }
                  }
          }
    
        }
      }
        }
        .listContainer{
          margin-top: 40px;
          .containerTitle{
            .mentoring-list{
              padding: 10px;
              margin-top: 20px;
              .mentoring-item{
                margin-top: 10px;
                align-items: center;
                padding-bottom: 10px;
                  .mentoring-number{
                    width: 80px;
                    height: 30px;
                  }
                  .mentoring-content{
                    font-size: 14px;
                    span{
                      font-size: 11px;
                      padding: 0 8px;
                      font-weight: 500;
                    }
                  }
              }
            }
    
          }
          .bestMentoringWrap{
            padding: 10px;
            margin-bottom: 20px;
            .bestMentoringTitle{
              padding-bottom: 10px;
            }
            .bestMentoringContent{
              padding-top: 10px;
              a{
                font-size: 14px;
                line-height: 28px;
              }
            }
          }
        }

    }
    .footer{
        display: none!important;
    }
    .bottom_copyarea{
        font-size: 12px;
        padding: 20px 10px;
        display: block;
    }
}

@media (max-width: 992px){
    
  .swiper-button-next {
    margin-right: -10px;
    border: 1px solid black;
    --swiper-navigation-size: 13px;
    color: #0cbff1;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
  }
  
  .swiper-button-prev {
    margin-left: -10px;
    border: 1px solid black;
    --swiper-navigation-size: 13px;
    color: #0cbff1;
    font-weight: bold;
    padding: 10px;
    border-radius: 50%;
    background-color: white;
  }
    .header-desktop{
      display: none;
    }
    .body{
        .banner{
            margin-top: 15px;
            &-left{
                padding: 0;
            }
            }
        .searcharea{
            display: none;
        }
        .topboard_area{
            margin-top: 20px;
            .form-article{
                .nav-tabs{
                    .nav-link{
                        margin: 0 3px;
                        padding: 5px;
                        font-size: 12px;
                        font-weight: 400;
                        &.active{
                            border-bottom: 3px solid $main-color;
                            color: black;
                            font-weight: 700;
                        }
                    }
                }
                .article{
                    .article-mobile{
                        .article_1_left{
                            border-right: 1px solid #ccc;
                            .left--header{
                                font-size: 17px;
                                i{
                                    color: $main-color;
                                }
                            }
                        }
                        .article_1_right{
                            .right-header{
                                color: #f77;
                                font-size: 17px;
                            }
                        }
                        
                        .article--body{
                            .item{
                                a{
                                    font-size: 14px;
                                    color: #505050;
                                    &:hover{
                                        color: #09f;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .aside{
                img{
                    margin-top: 10px;
                    width: 100%;
                    border-radius: 10px;
                }
            }
        }
        .topboard_area{
            .form-article{
                .article{
                    padding-top: 20px;
                    margin-bottom: 15px;
                    height: 30vh;
                    overflow-y: auto ;
                    .article_1_left{
                      .left--header{
                        font-size: 18px;
                      }
                    }
                    .article_1_right{
                      padding-left: 10px;
                      .right-header{
                        font-size: 18px;
                      }
                    }
                    .article-header{
                      font-size: 14px;
                      font-weight: 500;
                      margin-bottom: 20px;
                    }
                    .article--body{
                      .item{
                        margin: 10px 0;
                        .icon{
                          margin-right: 10px;
                          position: relative;
                          .number-icon{
                            left: 30%;
                            font-size: 15px;
                          }
                        }
                        .number{
                          font-size: 14px;
                          margin-right: 15px;
                          padding: 1px 10px;
                        }
                        a{
                          font-size: 14px;
                        }
                        i{
                          font-size: 20px;
                          margin-right: 10px;
                        }
                      }
                    }
                    .list-doctor{
                      padding-bottom: 5px;
                      margin-bottom: 20px;
                        .doctor-name{
                          font-size: 12px;
                        }
                        .content-doctor{
                          padding-left: 15px;
                          .name{
                              a{
                                  margin-bottom: 5px;
                                  font-size: 14px;
                              }
                          }
                          .address{
                            display: none;
                          }
                          .work{
                            display: none;
                          }
                          .chat{
                            display: none;
                          }
                          .time{
                              font-size: 13px;
                              b{
                                  margin-left: 5px;
                              }
                          }
                        }
                        .desc{
                          display: none;
                        }
                    }
                    .list-medicine{
                      text-align: center; 
                      .item-medicine{
                          border-radius: 10px;
                          margin: 10px 0;
                      }
                    }
                  }

            }

        }
        .products{
            .section{
                .section-left{
                    display: none;
                }
                .section-center{

                }
                .section-right{
                    display: none;
                }
            }
        }
        .address-tdoctor{
            padding: 18px;
        }
    }
}
