* {
  font-family: "Noto Sans KR", sans-serif;
}

.swiper-button-next {
  margin-right: -10px;
  top: 15px;
  border: 1px solid black;
  --swiper-navigation-size: 13px;
  color: #0cbff1;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}

.swiper-button-prev {
  margin-left: -10px;
  top: 15px;
  border: 1px solid black;
  --swiper-navigation-size: 13px;
  color: #0cbff1;
  font-weight: bold;
  padding: 10px;
  border-radius: 50%;
  background-color: white;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
a:hover {
  color: black;
}

.header {
  background: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 5;
}
.header-desktop {
  border-bottom: 1px solid #eee;
  padding-top: 30px;
}
.header-desktop .hd-desktop--left .logo {
  width: 200px;
}
.header-desktop .hd-desktop--between .menu-item {
  margin: 0 10px;
}
.header-desktop .hd-desktop--between .menu-item i {
  font-size: 30px;
  color: #0cbff1;
}
.header-desktop .hd-desktop--right i {
  font-size: 30px;
  color: #0cbff1;
  margin-right: 10px;
}
.header-desktop .hd-desktop--right .form-local {
  margin-right: 10px;
  border: none;
}
.header-desktop .hd-desktop--right .form-local:focus-visible {
  outline: none;
}
.header-desktop .hd-desktop--right .form-local option {
  padding: 5px 10px;
}
.header-mobile {
  padding-top: 10px;
}
.header-mobile .hd-desktop--left .logo {
  width: 100px;
}
.header-mobile .hd-desktop--between {
  overflow-x: auto;
  margin-top: 10px;
}
.header-mobile .hd-desktop--between .menu-item {
  margin: 0 10px;
}
.header-mobile .hd-desktop--between .menu-item i {
  font-size: 20px;
  color: #0cbff1;
}
.header-mobile .hd-desktop--between .menu-item p {
  font-size: 13px;
}
.header-mobile .hd-desktop--right {
  font-size: 15px;
}
.header-mobile .hd-desktop--right button {
  border: none;
  background: none;
}
.header-mobile .hd-desktop--right i {
  margin: 0 10px;
  font-size: 18px;
  color: #0cbff1;
  margin-right: 10px;
}
.header-mobile .nav_menu {
  z-index: 10;
  padding: 0;
  overflow-y: auto;
  padding-top: 15px;
  width: 100%;
  background: white;
  position: fixed;
  top: -15px;
  height: 103%;
  right: -100%;
  transition: all 0.5s ease-in-out;
}
.header-mobile .nav_menu.active {
  z-index: 10;
  right: 0;
}
.header-mobile .nav_menu--header {
  padding: 15px 10px;
  background-color: #0cbff1;
}
.header-mobile .nav_menu--header i {
  font-size: 25px;
  color: white;
}
.header-mobile .nav_menu--body .loginbox {
  margin: 30px 20px;
  font-size: 14px;
  padding: 10px 5px;
  border-radius: 10px;
  background: #eee;
}
.header-mobile .nav_menu--body .loginbox a {
  color: #0cbff1;
  text-decoration: underline;
}
.header-mobile .nav_menu--body .list-menu .menu-item {
  margin: 0 10px;
  font-size: 13px;
}
.header-mobile .nav_menu--body .list-menu .menu-item i {
  font-size: 16px;
  color: #0cbff1;
}
.header-mobile .nav_search {
  padding: 0;
  overflow-y: auto;
  padding-top: 15px;
  width: 100%;
  background: white;
  position: fixed;
  top: -15px;
  height: 103%;
  right: -100%;
  transition: all 0.5s ease-in-out;
}
.header-mobile .nav_search.active {
  right: 0;
}
.header-mobile .nav_search--header {
  padding: 15px 10px;
}
.header-mobile .nav_search--header i {
  font-size: 25px;
  color: black;
}
.header-mobile .nav_search--body .searchbox .input-group {
  border-bottom: 2px solid black;
}
.header-mobile .nav_search--body .searchbox .input-group .form-outline {
  width: 80%;
}
.header-mobile .nav_search--body .searchbox .input-group .form-outline .form-control {
  font-size: 15px;
  border: none;
}
.header-mobile .nav_search--body .searchbox .input-group .form-outline .form-control:focus {
  box-shadow: none;
}
.header-mobile .nav_search--body .searchbox .input-group .btn {
  width: 20%;
  font-size: 15px;
}
.header-mobile .nav_search--body .searchbox .input-group .btn:focus {
  box-shadow: none;
}

.body {
  margin-top: 135px;
}
.body .banner {
  margin-top: 20px;
}
.body .banner img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.body .searcharea {
  margin-top: 30px;
}
.body .searcharea .searchbox .input-group {
  padding-bottom: 5px;
  border-bottom: 3px solid black;
}
.body .searcharea .searchbox .input-group .form-outline {
  width: 90%;
}
.body .searcharea .searchbox .input-group .form-outline .form-control {
  width: 90%;
  font-size: 20px;
  border: none;
}
.body .searcharea .searchbox .input-group .form-outline .form-control:focus {
  box-shadow: none;
}
.body .searcharea .searchbox .input-group .btn {
  font-size: 25px;
}
.body .searcharea .searchbox .input-group .btn:focus {
  box-shadow: none;
}
.body .searcharea .loginbox {
  border-radius: 10px;
  padding: 15px 0;
  height: 100%;
  border: 1px solid #eee;
  font-size: 18px;
}
.body .searcharea .loginbox a {
  color: #0cbff1;
}
.body .searcharea .loginbox a:hover {
  -webkit-text-decoration: revert;
          text-decoration: revert;
}
.body .topboard_area {
  margin-top: 40px;
}
.body .topboard_area .form-article .nav-tabs {
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: clip;
}
.body .topboard_area .form-article .nav-tabs .nav-link {
  color: #aaa;
  border: none;
  font-size: 17px;
  font-weight: 500;
  padding: 10px;
}
.body .topboard_area .form-article .nav-tabs .nav-link.active {
  border-bottom: 5px solid #0cbff1;
  color: black;
  font-weight: 700;
}
.body .topboard_area .form-article .nav-tabs-mobile .nav-link--water {
  font-size: 11px;
  border: none;
  color: #505050;
  background: #f5f5f5;
}
.body .topboard_area .form-article .nav-tabs-mobile .nav-link--water.active {
  color: white;
  background: #0cbff1;
}
.body .topboard_area .form-article .nav-tabs-mobile .nav-link--best {
  font-size: 11px;
  border: none;
  color: #505050;
  background: #f5f5f5;
}
.body .topboard_area .form-article .nav-tabs-mobile .nav-link--best.active {
  color: white;
  background: #f77;
}
.body .topboard_area .form-article .article {
  color: #505050;
  padding-top: 20px;
  margin-bottom: 15px;
  height: 60vh;
  overflow-y: auto;
  overflow-x: clip;
}
.body .topboard_area .form-article .article .article_1_left {
  border-right: 1px solid #ccc;
}
.body .topboard_area .form-article .article .article_1_left .left--header {
  font-size: 23px;
}
.body .topboard_area .form-article .article .article_1_left .left--header i {
  color: #0cbff1;
}
.body .topboard_area .form-article .article .article_1_right {
  padding-left: 25px;
}
.body .topboard_area .form-article .article .article_1_right .right-header {
  color: #f77;
  font-size: 23px;
}
.body .topboard_area .form-article .article .article-header {
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 20px;
}
.body .topboard_area .form-article .article .article--body .item {
  display: flex;
  margin: 20px 0;
}
.body .topboard_area .form-article .article .article--body .item .icon {
  margin-right: 10px;
  position: relative;
}
.body .topboard_area .form-article .article .article--body .item .icon .number-icon {
  position: absolute;
  top: 0;
  left: 30%;
  color: white;
  font-size: 15px;
}
.body .topboard_area .form-article .article .article--body .item .number {
  color: #0cbff1;
  font-size: 14px;
  border-radius: 15px;
  width: 46px;
  margin-right: 15px;
  border: 1px solid #0cbff1;
  text-align: center;
  line-height: 25px;
}
.body .topboard_area .form-article .article .article--body .item a {
  font-size: 19px;
  color: #505050;
}
.body .topboard_area .form-article .article .article--body .item a:hover {
  color: #09f;
}
.body .topboard_area .form-article .article .article--body .item i {
  font-size: 20px;
  margin-right: 10px;
  color: rgb(24, 160, 73);
}
.body .topboard_area .form-article .article .list-doctor {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
.body .topboard_area .form-article .article .list-doctor img {
  width: 100%;
  margin-bottom: 5px;
}
.body .topboard_area .form-article .article .list-doctor .doctor-name {
  color: #E84F5E;
  font-weight: 600;
  font-size: 16px;
}
.body .topboard_area .form-article .article .list-doctor .content-doctor {
  padding-left: 15px;
}
.body .topboard_area .form-article .article .list-doctor .content-doctor .name a {
  color: #0cbff1;
  font-weight: 700;
  margin-bottom: 5px;
}
.body .topboard_area .form-article .article .list-doctor .content-doctor .address {
  font-size: 16px;
  color: gray;
}
.body .topboard_area .form-article .article .list-doctor .content-doctor .work {
  font-size: 14px;
}
.body .topboard_area .form-article .article .list-doctor .content-doctor .chat {
  margin: 5px 0;
}
.body .topboard_area .form-article .article .list-doctor .content-doctor .chat a {
  font-size: 13px;
  background-color: #e84f5e;
  font-weight: 600;
  color: white;
  padding: 2px 10px;
  border-radius: 15px;
}
.body .topboard_area .form-article .article .list-doctor .content-doctor .time {
  font-size: 14px;
}
.body .topboard_area .form-article .article .list-doctor .content-doctor .time b {
  margin-left: 15px;
  color: #e84f5e;
}
.body .topboard_area .form-article .article .list-doctor .desc {
  padding-left: 15px;
  font-size: 14px;
}
.body .topboard_area .form-article .article .list-medicine {
  text-align: center;
}
.body .topboard_area .form-article .article .list-medicine .item-medicine {
  background-color: #F1F8FF;
  height: 160px;
  border-radius: 10px;
  margin: 10px 0;
  padding: 10px;
}
.body .topboard_area .aside img {
  width: 100%;
  border-radius: 10px;
}
.body .answer-doctor {
  margin-top: 40px;
}
.body .answer-doctor .mentoring .mentoring-list {
  height: 50vh;
  overflow-y: auto;
  overflow-x: clip;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}
.body .answer-doctor .mentoring .mentoring-list .mentoring-item {
  margin-top: 20px;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.body .answer-doctor .mentoring .mentoring-list .mentoring-item .mentoring-number {
  color: #0cbff1;
  width: 60px;
  border: 1px solid #0cbff1;
  border-radius: 20px;
  height: 30px;
  text-align: center;
  margin-right: 10px;
}
.body .answer-doctor .mentoring .mentoring-list .mentoring-item .mentoring-content span {
  font-size: 12px;
  border-right: 1px solid #f5f5f5;
  padding: 0 8px;
  color: #999;
  font-weight: 600;
}
.body .answer-doctor .news .news-list {
  height: 50vh;
  overflow-y: auto;
  overflow-x: clip;
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 20px;
}
.body .answer-doctor .news .news-list .news-item {
  margin-top: 20px;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.body .answer-doctor .news .news-list .news-item .news-img img {
  width: 100%;
}
.body .answer-doctor .news .news-list .news-item .news-content .content {
  height: 45px;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 15px;
  margin-bottom: 8px;
}
.body .answer-doctor .news .news-list .news-item .news-content .time .cate {
  font-size: 15px;
  margin-left: 20px;
  color: red;
}
.body hr {
  margin: 50px 0;
}

.footer {
  justify-content: space-evenly;
}

.bottom_copyarea {
  background-color: #fafafa;
  padding: 30px 15px;
}
.bottom_copyarea .bottom_copyarea--right .form-local {
  border: none;
}
.bottom_copyarea .bottom_copyarea--right .form-local:focus-visible {
  outline: none;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */