<hr>
<footer class="footer-container">
    <div class="container">
        <div class="row row__pd">
            <div class="col-12 col-md-6 col-lg-3">
                <div class="footer__block">
                    <h3>
                        TDOCTOR
                    </h3>
                    <ul class="menu__footer">
                        <li>
                            <a href="../../vechungtoi">
                                Về chúng tôi
                            </a>
                        </li>
                        <li>
                            <a href="../../lienhe">
                                Liên hệ
                            </a>
                        </li>
                        <li>
                            <a href="../../quytrinh-giaiquyet-tranhchap">
                                Quy trình giải quyết tranh chấp
                            </a>
                        </li>
                        <li>
                            <a href="../../chinhsach-baomat-thongtin-khachhang">
                                Chính sách bảo mật thông tin
                            </a>
                        </li>
                        <li>
                            <a href="../../dang-ky-bac-si">
                                Đăng ký bác sĩ
                            </a>
                        </li>
                        <li>
                            <a href="../../dang-ky-phong-kham">
                                Đăng ký phòng khám
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3">
                <div class="footer__block">
                    <h3>
                        LIÊN HỆ
                    </h3>
                    <ul class="social__list-f">
                        <li>
                            <a href="https://www.facebook.com/tdoctoronline/" class="d-flex align-items-center">
                                <img src="https://tdoctor.vn/public/v3/assets/image/fb.png" alt="Facebook của Tdoctor.vn">
                                <span>
                                        Facebook
                                    </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/TDoctor2" class="d-flex align-items-center">
                                <img src="https://tdoctor.vn/public/v3/assets/image/logo-twitter-11549535419aik8i3pkro@2x.png" alt="Twitter của Tdoctor.vn">
                                <span>Twitter</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/tdoctor" class="d-flex align-items-center">
                                <img src="https://tdoctor.vn/public/v3/assets/image/in2x.png" alt="Linkedin của Tdoctor.vn">
                                <span>Linkedin</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.youtube.com/channel/UCm3h1QVkgGg6xvyEHElMx7Q/videos" class="d-flex align-items-center">
                                <img src="https://tdoctor.vn/public/v3/assets/image/ytb-footer.png" alt="Youtube của Tdoctor.vn">
                                <span>Youtube</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/tdoctorcom/" class="d-flex align-items-center">
                                <img src="https://tdoctor.vn/public/v3/assets/image/unnamed@2x.png" alt="Instagram của Tdoctor.vn">
                                <span>Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-12 col-lg-6">
                <div class="footer__block">
                    <h3>
                        ĐỊA CHỈ
                    </h3>
                    <ul class="address__list">
                        <li>
                            <img src="https://tdoctor.vn/public/v3/assets/image/add.png" alt="Trụ sở của Tdoctor.vn">
                            <span>
                                    Trụ sở chính:&nbsp;V7B07 Shophouse Terra An Hưng, Đường Nguyễn Thanh Bình, Hà Đông, Hà Nội
                                </span>
                        </li>
                        <li>
                            <img src="https://tdoctor.vn/public/v3/assets/image/add.png" alt="Trụ sở 2 của Tdoctor.vn">
                            <span>
                                    Chi nhánh:&nbsp;Phòng 6.28, tòa nhà Everich Infinity, 290 An Dương Vương, phường 4, quận 5, Hồ Chí Minh
                                </span>
                        </li>
                        <li>
                            <img src="https://tdoctor.vn/public/v3/assets/image/mail.png" alt="Email của Tdoctor.vn">
                            <a href="maito:tdoctorvn@gmail.com">
                                Liên hệ quảng cáo và hỗ trợ tdoctorvn@gmail.com
                            </a>
                        </li>
                        <li>
                            <img src="https://tdoctor.vn/public/v3/assets/image/check-blue.png" alt="Nơi đăng ký của Tdoctor.vn">
                            <a href="">
                                Nơi đăng ký:&nbsp;7F Huỳnh Tấn Phát, Thị trấn Nhà Bè, Huyện Nhà Bè, Hồ Chí Minh
                            </a>
                        </li>
                        <li>
                            <img src="https://tdoctor.vn/public/v3/assets/image/phone-red.png" alt="Điện thoại của Tdoctor.vn">
                            <a href="">
                                Hotline:&nbsp;+84 393 167 234
                            </a>
                        </li>
                        <li>
                            <img src="https://tdoctor.vn/public/v3/assets/image/add.png" alt="MST của Tdoctor.vn">
                            <a href="">
                                MST: 0316725186
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="bottom_copyarea d-flex justify-content-between">
    <div class="container">
        <div class="bottom_copyarea--left"> © 1998-2022, HeyKorean, Inc. All Rights Reserved. <i class="fa-regular fa-envelope"></i></div>
        <div class="bottom_copyarea--right">
            <i class="fa-solid fa-earth-asia"></i>
            <select class="form-local" aria-label="Default select example">
                <option value="1"><a href="#">Hoa Kỳ</a></option>
                <option value="2"><a href="#">Việt Nam</a></option>
            </select>
        </div>
    </div>
</div>
