
<header class="header container-fluid">
    <div class="header-desktop align-items-center row">
        <div class="col-md-2 col-5 hd-desktop--left text-center">
            <a href="index.html">
                <img class="logo" src="img/logo.png" alt="">
            </a>
        </div>
        <div class="col-md-7 col-12 hd-desktop--between d-flex justify-content-center">
            <div class="menu-item text-center"><a href="markets.html"><i class="fa-regular fa-newspaper"></i><p>News</p></a></div>
            <div class="menu-item text-center"><a href="mentors.html"><i class="fa-solid fa-laptop-medical"></i><p>Mentoring</p></a></div>
            <div class="menu-item text-center"><a href="#"><i class="fa-solid fa-school"></i><p>Education Training</p></a></div>
            <div class="menu-item text-center"><a href="#"><i class="fa-solid fa-prescription-bottle-medical"></i><p>Clinic</p></a></div>
            <div class="menu-item text-center"><a href="#"><i class="fa-solid fa-headset"></i><p>Recruitment</p></a></div>
            <div class="menu-item text-center"><a href="#"><i class="fa-solid fa-calendar-days"></i><p>Selling buying</p></a></div>
        </div>
        <div class="col-md-3 col-7 hd-desktop--right d-flex justify-content-center">
            <i class="fa-solid fa-location-dot"></i>
            <select class="form-local" aria-label="Default select example">
                <option value="1"><a href="#">Hoa Kỳ</a></option>
                <option value="2"><a href="#">Việt Nam</a></option>
            </select>
            <div class="form-login">
                <a href="#"><i class="fa-solid fa-user"></i> Login</a>
            </div>
        </div>
    </div>
    <div class="header-mobile row">
        <div class="row header-mobile--top">
            <div class="col-5 hd-desktop--left">
                <a href="index.html">
                    <img class="logo" src="img/logo.png" alt="">
                </a>
            </div>
            <div class="col-7 hd-desktop--right d-flex justify-content-end">
                <button onclick="openSearch()"><i class="fa-solid fa-magnifying-glass"></i></button>
                <a href=""><i class="fa-regular fa-bell"></i></a>
                <button onclick="openMenu()"><i class="fa-solid fa-bars"></i></button>
            </div>
        </div>
        <div class="col-12 hd-desktop--between">
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide menu-item text-center"><a href="markets.html"><i class="fa-regular fa-newspaper"></i><p>News</p></a></div>
                    <div class="swiper-slide menu-item text-center"><a href="mentors.html"><i class="fa-solid fa-laptop-medical"></i><p>Mentoring</p></a></div>
                    <div class="swiper-slide menu-item text-center"><a href="#"><i class="fa-solid fa-school"></i><p>Education Training</p></a></div>
                    <div class="swiper-slide menu-item text-center"><a href="#"><i class="fa-solid fa-prescription-bottle-medical"></i><p>Clinic</p></a></div>
                    <div class="swiper-slide menu-item text-center"><a href="#"><i class="fa-solid fa-headset"></i><p>Recruitment</p></a></div>
                    <div class="swiper-slide menu-item text-center"><a href="#"><i class="fa-solid fa-calendar-days"></i><p>Selling buying</p></a></div>
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
            </div>
        </div>
        <div class="nav_menu" id="demo">
            <div class="nav_menu--header d-flex justify-content-between">
                <div onclick="closeMenu()" class="header-left">
                    <i class="fa-solid fa-xmark"></i>
                </div>
                <div class="header-right">
                    <a href="index.html"><i class="fa-solid fa-house"></i></a>
                </div>
            </div>
            <div class="nav_menu--body">
                <div class="loginbox text-center">
                    <a href="#">Log in now</a>
                    <span> and connect to the worldwide Korean network > </span>
                </div>
                <div class="list-menu row">
                    <div class="menu-item text-center col-3"><a href="markets.html"><i class="fa-regular fa-newspaper"></i><p>News</p></a></div>
                    <div class="menu-item text-center col-3"><a href="mentors.html"><i class="fa-solid fa-laptop-medical"></i><p>Mentoring</p></a></div>
                    <div class="menu-item text-center col-3"><a href="#"><i class="fa-solid fa-school"></i><p>Education Training</p></a></div>
                    <div class="menu-item text-center col-3"><a href="#"><i class="fa-solid fa-prescription-bottle-medical"></i><p>Clinic</p></a></div>
                    <div class="menu-item text-center col-3"><a href="#"><i class="fa-solid fa-headset"></i><p>Recruitment</p></a></div>
                    <div class="menu-item text-center col-3"><a href="#"><i class="fa-solid fa-calendar-days"></i><p>Selling buying</p></a></div>
                </div>
            </div>
        </div>
        <div class="nav_search" id="nav_search">
            <div class="nav_search--header d-flex justify-content-between">
                <div onclick="closeSearch()" class="header-left">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="nav_search--body">
                <div class="searchbox">
                    <div class="input-group">
                        <div class="form-outline">
                            <input type="search" id="form1" class="form-control" placeholder="Please enter a search term." />
                        </div>
                        <button type="button" class="btn">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<script>
    new Swiper(".mySwiper", {
        slidesPerView: 5,
        spaceBetween: 10,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
        breakpoints: {
            800: {
                slidesPerView: 7,
                spaceBetween: 40,
            },
            1024: {
                slidesPerView: 9,
                spaceBetween: 50,
            },
        },
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>